{{ define "main" }}
  {{ partial "title.html" . }}
  {{ $count := site.Params.gallery.recentCount | default 50 | int }}
  {{ $publishResources := default true .Params.build.publishResources }}

  {{ $allImages := slice }}
  {{ range where site.RegularPages "Params.private" "ne" true }}
    {{ $page := . }}
    {{ range where (.Resources.ByType "image") "Params.hidden" "ne" true }}
      {{ $imgPath := printf "content/%s%s" $page.File.Dir .Name }}
      {{ $date := (os.Stat $imgPath).ModTime }}
      {{ $title := "" }}
      {{ with .Meta }}{{ with .Exif.ImageDescription }}{{ $title = . }}{{ end }}{{ end }}
      {{ if ne .Title .Name }}{{ $title = .Title }}{{ end }}
      {{ $allImages = $allImages | append (dict "image" . "page" $page "date" $date "title" $title) }}
    {{ end }}
  {{ end }}
  {{ $allImages = sort $allImages "date" "desc" | first $count }}

  <section class="gallery">
    <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
      {{ range $allImages }}
        {{ partial "gallery-render.html" (dict
          "image" .image
          "title" .title
          "pswpTarget" (print .page.File.TranslationBaseName "-" (.image.Name | urlize))
          "publishResources" $publishResources
        ) }}
      {{ end }}
    </div>
  </section>
{{ end }}
