{{ $gallery := partial "get-gallery.html" . }}
{{ with $gallery }}
  <a class="card" href="{{ .page.RelPermalink }}" title="{{ .page.Title }}">
    {{ $count := len .previews }}
    {{ if gt $count 1 }}
      <figure class="card-slides-{{ $count }}" style="background-color: {{ .color }}">
        {{ range $i, $img := .previews }}
          <img class="lazyload card-slide" style="--i: {{ $i }}" width="{{ $img.Width }}" height="{{ $img.Height }}" data-src="{{ $img.RelPermalink }}" alt="{{ $.page.Title }}" />
        {{ end }}
      </figure>
    {{ else }}
      <figure style="background-color: {{ .color }}">
        <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}" data-src="{{ .thumbnail.RelPermalink }}" alt="{{ .page.Title }}" />
      </figure>
    {{ end }}
    <div>
      <h2>{{ .page.Title }}</h2>
      <p>
        {{ if gt .albumCount 0 }}
          {{ T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
        {{ else }}
          {{ T "photoCount" (.imageCount | lang.FormatNumber 0) }}
        {{ end }}
      </p>
    </div>
  </a>
{{ end }}
