{{/* Input: {image, full?}. Returns image with stroke and border applied.
     full=true uses strokeSizeFull/borderSizeFull params (absolute pixels for full-size images). */}}
{{ $image := .image }}
{{ $strokeSize := site.Params.gallery.strokeSize | default 0 | int }}
{{ $borderSize := site.Params.gallery.borderSize | default 0 | int }}
{{ if .full }}
  {{ $strokeSize = site.Params.gallery.strokeSizeFull | default $strokeSize | int }}
  {{ $borderSize = site.Params.gallery.borderSizeFull | default $borderSize | int }}
{{ end }}
{{ if gt $strokeSize 0 }}
  {{ $image = $image.Filter (images.Padding $strokeSize (site.Params.gallery.strokeColor | default "#000000")) }}
{{ end }}
{{ if gt $borderSize 0 }}
  {{ $image = $image.Filter (images.Padding $borderSize (site.Params.gallery.borderColor | default "#ffffff")) }}
{{ end }}
{{ return $image }}
