{{/* Input: slice of {image, page} dicts from collect-equipment.html */}}
<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $borderSize := site.Params.gallery.borderSize | default 0 | int }}
    {{ $borderColor := site.Params.gallery.borderColor | default "#ffffff" }}
    {{ range . }}
      {{ $image := .image }}
      {{ $title := "" }}
      {{ with $image.Meta }}
        {{ with .Exif.ImageDescription }}{{ $title = . }}{{ end }}
      {{ end }}
      {{ if ne $image.Title $image.Name }}
        {{ $title = $image.Title }}
      {{ end }}
      {{ partial "gallery-render.html" (dict
        "image" $image
        "title" $title
        "pswpTarget" (print .page.File.TranslationBaseName "-" ($image.Name | urlize))
        "publishResources" true
        "borderSize" $borderSize
        "borderColor" $borderColor
      ) }}
    {{ end }}
  </div>
</section>
