<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    {{ range $image := where (.Resources.ByType "image") "Params.hidden" "ne" true }}
      {{ $title := "" }}
      {{ $date := "" }}
      {{ with $image.Meta }}
        {{ $date = .Date }}
        {{ with .Exif.ImageDescription }}
          {{/* Title from EXIF ImageDescription */}}
          {{ $title = . }}
        {{ end }}
      {{ end }}
      {{ if ne $image.Title $image.Name }}
        {{/* Title from front matter */}}
        {{ $title = $image.Title }}
      {{ end }}
      {{ if $image.Params.Date }}
        {{/* Date from front matter */}}
        {{ $date = time $image.Params.Date }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "Date" $date
        "image" $image
        "Params" $image.Params
        )
      }}
    {{ end }}
    {{ $publishResources := default true .Params.build.publishResources }}
    {{ range sort $images (.Params.sort_by | default site.Params.gallery.sortBy | default "Name") (.Params.sort_order | default site.Params.gallery.sortOrder | default "asc") }}
      {{ partial "gallery-render.html" (dict
        "image" .image
        "title" .Title
        "pswpTarget" (.image.Name | urlize)
        "publishResources" $publishResources
      ) }}
    {{ end }}
  </div>
</section>
