{{/* Input: {image, title, pswpTarget, publishResources} */}}
{{ $image := .image }}
{{ $fullSize := site.Params.gallery.fullSize | default 1600 | int }}
{{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
{{ $full := $image.Filter (slice images.AutoOrient (images.Process (printf "fit %dx%d" $fullSize $fullSize))) }}
{{ $color := index $thumbnail.Colors 0 | default "transparent" }}
{{ $borderSize := site.Params.gallery.borderSize | default 0 | int }}
{{ $borderColor := site.Params.gallery.borderColor | default "#ffffff" }}
{{ if gt $borderSize 0 }}
  {{ $thumbBorder := div (mul $borderSize $thumbnail.Width) $fullSize }}
  {{ $thumbnail = $thumbnail.Filter (images.Padding $thumbBorder $borderColor) }}
  {{ $full = $full.Filter (images.Padding $borderSize $borderColor) }}
{{ end }}

{{ $href := $image.RelPermalink }}
{{ if not .publishResources }}{{ $href = $full.RelPermalink }}{{ end }}

{{ $captionCamera := "" }}
{{ $captionFilm := "" }}
{{ $captionLens := "" }}
{{ with $image.Meta }}
  {{ with .Exif.Model }}{{ $captionCamera = print "📷 " . }}{{ end }}
  {{ with .Exif.UserComment }}{{ $captionFilm = print "🎞️ " . }}{{ end }}
  {{ $lensParts := slice }}
  {{ with .Exif.LensMake }}{{ $lensParts = $lensParts | append . }}{{ end }}
  {{ with .Exif.LensModel }}{{ $lensParts = $lensParts | append . }}{{ end }}
  {{ with delimit $lensParts " " }}{{ $captionLens = print "🔘 " . }}{{ end }}
{{ end }}

<a class="gallery-item" href="{{ $href }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" data-pswp-target="{{ .pswpTarget }}" title="{{ .title }}" data-caption-camera="{{ $captionCamera }}" data-caption-film="{{ $captionFilm }}" data-caption-lens="{{ $captionLens }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
  <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
    <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .title }}" />
  </figure>
  <meta itemprop="contentUrl" content="{{ $href }}" />
  {{ with site.Params.Author }}
    <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
      <meta itemprop="name" content="{{ site.Params.Author.name }}" />
    </span>
  {{ end }}
</a>
