{{/* Input: {images, authorEmail, authorName} */}}
{{- $authorEmail := .authorEmail -}}
{{- $authorName := .authorName -}}
{{- range .images }}
<item>
  <title>{{ with .title }}{{ . }}{{ else }}{{ .page.Title }}{{ end }}</title>
  <link>{{ .page.Permalink }}</link>
  <pubDate>{{ .date.Format "Mon, 02 Jan 2006 15:04:05 -0700" | safeHTML }}</pubDate>
  {{- with $authorEmail }}<author>{{ . }}{{ with $authorName }} ({{ . }}){{ end }}</author>{{ end }}
  <guid>{{ .page.Permalink }}#{{ .image.Name | urlize }}</guid>
  {{- $thumbnail := .image.Filter (slice images.AutoOrient (images.Process "fill 900x600")) -}}
  {{- $thumbnail = partial "apply-border.html" (dict "image" $thumbnail) -}}
  <media:content url="{{ $thumbnail.Permalink }}" type="image/jpeg"/>
  <description>
    &lt;img src=&quot;{{ $thumbnail.Permalink }}&quot; /&gt;
    &lt;p&gt;{{ .page.Title }}&lt;/p&gt;
  </description>
</item>
{{- end }}
